# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folder
venv/
.env

# Ignore log and temporary files
*.log
*.tmp
*__tmp.py

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore the archive folder
archive/
